

button{
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: rgb(228, 139, 139);
    font-size: 100px;
    border-left: 0px;
    border-top: 0px;
    vertical-align: top;
}
.btJogo2{
    border-bottom: 0;
}

#bt02, #bt12, #bt22{
    border-right: 0;
}

button:disabled{
    border-color: rgb(0, 0, 0);
}